<h1>Listing <%= plural_name %></h1>


<%% remote_form_for(:<%= singular_name %>) do |f| %>
  <%%= f.error_messages %>

<% for attribute in attributes -%>
  <p>
    <%%= f.label :<%= attribute.name %> %><br />
    <%%= f.<%= attribute.field_type %> :<%= attribute.name %> %>
  </p>
<% end -%>
  <p>
    <%%= f.submit 'Create' %>
  </p>
<%% end %>

<% for attribute in attributes -%>
  <%= attribute.column.human_name %>
<% end -%>

<%%= link_to 'New <%= singular_name %>', new_<%= singular_name %>_path %>


<div id="<%= plural_name %>" class="<%= plural_name %>">
  <%%= render :partial => "<%= plural_name %>/<%= singular_name %>", :collection => @<%= plural_name %> %>
</div>
