<h1>Listing <%= plural_name %></h1>

<%%= link_to 'New <%= singular_name %>', new_<%= singular_name %>_path %>

<%% remote_form_for(:<%= singular_name %>) do |f| %>
  <%%= f.error_messages %>
  <%%= render :partial => "<%= plural_name %>/form", :locals => { :f => f } %>
  <%%= f.submit 'Create' %>
<%% end %>

<% for attribute in attributes -%>
  <%= attribute.column.human_name %>
<% end -%>

<div id="<%= plural_name %>" class="<%= plural_name %>">
  <%%= render :partial => "<%= plural_name %>/<%= singular_name %>", :collection => @<%= plural_name %> %>
</div>
